body{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-content: center;
    min-width: 80px;
    margin: 0 100px;
}

.header img{
    width: 100%;
    height: auto;
    flex: 0 1 80px;
    padding-right: 20px;
}

.nav {
    margin-left: auto;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
}