@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-content: center;
    min-width: 80px;
    padding: 10px 100px;
}

.header img{
    width: 100%;
    height: auto;
    flex: 0 1 80px;
    align-content: center;
    padding-right: 30px;
}

h1.logo-txt{
    font-family: 'Varela Round', sans-serif;
    color: #E5E7EB;
}

.nav {
    margin-left: auto;
}

.nav ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.nav a{
    font-family: 'Varela Round', sans-serif;
    color: #E5E7EB;
    text-decoration: none;
    padding: 0 15px;
}